.title {
  font-weight: 600;
}

.content { 
  font-size: 14px;
  color: 000;
  margin-top: 16px;
}

.option {
  cursor: pointer;
  margin-bottom: 8px;
  width: fit-content;
}

.apps svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}