@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-bg1: #1f232d;
  --app-bg2: #3d3e42;
  --app-color: rgb(234 179 8 / 0.9);
  --app-blur-color: rgb(234 179 8 / 0.35);
  --yellow-color: rgb(234, 179, 8);
  --error-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-icon {
  max-width: 64px;
  margin: 0 auto;
}

.MuiTypography-root.cv-title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.MuiTypography-root.cart-title {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.cv-input-label {
  color: #fff;
  font-weight: 700;
}

.row-center {
  display: flex;
  align-items: center;
}

.MuiTypography-root.error_text {
  color: var(--error-color);
  text-align: center;
}

@media screen and (max-width: 900px) {
  .MuiTypography-root.cv-title {
    font-size: 38px;
  }
  .MuiTypography-root.cart-title {
    font-size: 32px;
  }
}
